* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#top {
    height: calc(100vh - 75px);
    background-color: blue;
}

#bottom {
    height: 75px;
    background-color: lightcoral;
    position: fixed;
    width: 100%;
}

.top-content {
    display: flex;
    background-color: green;
    height: 100%;
}

#sidebar {
    width: 200px;
    background-color: #000000;
}

#content {
    width: calc(100vw - 200px);
    background-color: #151921;
    overflow-y: auto;
}

.main-content {
    max-height: calc(100vh - 150px);
    overflow: auto;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 75px;
    display: flex;
    justify-content: end;
    align-items: center;
}

#btn-upgrade {
    background-color: transparent;
    border: 1px solid #fff;
    color: white;
    padding: 12px 30px;
    text-align: end;
    border-radius: 50px;
    margin-right: 30px;
}

#btn-upgrade:hover {
    background-color: #fff;
    color: black;
}

.container {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: calc(100% / 4 - 20px);
    margin: 10px;
    background-color: yellow;
    height: 100px;
}

.logo {
    width: 75%;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
}

.icon {
    width: 15%;
    margin-left: 15px;
    margin-right: 5px;
}

#txt-icon {
    font-size: 13px;
    display: flex;
    align-items: center;
}

.white-on {
    color: #ffffff;
}

.white-off {
    color: #ffffff44;
}

.list-flex {
    opacity: 0.5;
    color: #fff;
    display: flex;
    padding-top: 5px;
}


.list-flex:hover {
    opacity: 1;
    border-left: 3px solid #ADFF2E;
    font-weight: 800;
}

.playlist {
    opacity: 0.5;
    color: #fff;
    display: flex;
    padding-top: 5px;
}

.playlist:hover {
    opacity: 1;
    font-weight: 800;
}

.title {
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    margin-left: 15px;
    margin-top: 25px;
}

.margin-top-playlist {
    margin-top: 30px;
}

.margin-txt-playlist {
    margin-top: 22px;
    margin-left: 2px;
}

.txt-name-playlist {
    color: white;
    font-size: 12px;
    margin-left: 15px;
    margin-top: 25px;
    opacity: 0.5;
}

.txt-name-playlist:hover {
    opacity: 1;
    font-weight: 800;
}



