* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#top {
    height: calc(100vh - 75px);
    background-color: blue;
}

#bottom {
    height: 75px;
    background-color: #282828;
}

.top-content {
    display: flex;
    background-color: green;
    height: 100%;
}

#sidebar {
    width: 200px;
    background-color: #000000;
}

#content {
    width: calc(100vw - 200px);
    background-color: #151921;
}

header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 75px;
}

